.uno {
    background-color:#D9D9D9;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.dos {
    background-color: #D9D9D9;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
body {
    background-color: black;
}
h1 {
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}